
.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    margin-bottom: -70px;
}

.image {
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 47%;
    right: 180px;
    font-size: 3rem;
    color: #927be2;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 47%;
    left: 180px;
    font-size: 3rem;
    color: #927be2;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 960px) { 
    .image {
        max-width: 100%; 
        height: auto; 
    }

    .right-arrow { 
        right: 16px;
    }

    .left-arrow {
        left: 16px;
    }
    
}

.slide {
    opacity: 0;
    transition-duration: 1.5s ease-out;
}

.slide.active {
    opacity: 1;
    transition-duration: 1.5s;
    transform: scale(1.20);
}