
.slider {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.image {
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 45%;
    right: 25%;
    font-size: 3rem;
    color: #927be2;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 45%;
    left: 25%;
    font-size: 3rem;
    color: #927be2;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 960px) { 
    .image {
        max-width: 100%; 
    }

    .slider {
        margin-top: -30px;
        margin-bottom: -30px;
    }

    .right-arrow { 
        right: 16px;
    }

    .left-arrow {
        left: 16px;
    }

    .slide.active {
        max-width: 70%;
    }
    
}

.slide {
    opacity: 0;
    transition-duration: 1.5s ease-out;
}

.slide.active {
    opacity: 1;
    transition-duration: 1.5s;
    transform: scale(1.20);
}