/*  START STANDARD */

.classic-text p {
    margin: 45px 190px;
    text-align: left;
    color: rgb(110, 94, 254);
    font-size: 2em;
}

/* END STANDARD */


/* START CONTACT  */

.classic-contact p {
    margin: 45px 190px;
    text-align: left;
    color: rgb(110, 94, 254);
    font-size: 2em;
}

.email-dec a {
    color:rgb(189, 132, 235);
    text-decoration: none;
}

/* END CONTACT */


/* START FORM */

.form-s {
    /* margin: 60px 190px; */
    /* text-align: left; */
    color: rgb(110, 94, 254);

    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.comment-box {
    height: 200px;
    width: 400px;
    font-size:14pt;
}

.reg-box {
    height: 36px;
    width: 400px;
    font-size:14pt;
}

.bkg-ops {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 20px ;
}

/* END FORM */

/* START MESSAGE LIST */

.u-text {
    margin: 0px 60px;
}

.each-message {
    padding: 30px 30px 50px 30px;
    background: linear-gradient(150deg, rgb(138, 123, 204) 0%, rgb(138, 138, 153) 100%);
    border-style: outset;
    border-top: 12px solid rgb(240, 235, 233);
    border-right: 12px solid rgb(146, 145, 145);
    border-bottom: 12px solid rgb(133, 132, 132);
    border-left: 12px solid rgb(226, 224, 224);
    text-align: center;
    list-style-type: none;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 80px;
    color: white;
    word-break: break-all;
}

/* END MESSAGE LIST */


/* START FORM SUBMIT BUTTON */

.sub-btn {
    width: 100%;
    background-color:  #a87be2;
    color: white;
    padding: 16px 120px;
    margin: 18px 80px, 18px, 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sub-btn:hover {
    color: white;
    background-color:  #946cc7;
}

/* END FORM SUBMIT BUTTON */



/* WACKY LINE CODE: START */

.wacky-line {
    color: rgb(110, 94, 254);
    font-size: 4em;
    margin: 60px 10px 15px;
    text-align: center;
    font-family: Futura, sans-serif;
    font-weight: 900;
	font-size: 80px;
}
@keyframes ani {
        0% {
            transform: translate3d(0, 0, 0);
            text-shadow: 0em 0em 0 rgba(157, 149, 228, 0.616);
            color: black;
       }
        30% {
            transform: translate3d(0, 0, 0);
            text-shadow: 0em 0em 0 rgb(157, 149, 228, 0.616);
            color: black;
       }
        70% {
            transform: translate3d(0.08em, -0.08em, 0);
            text-shadow: -0.08em 0.08em rgb(157, 149, 228, 0.616);
            color: black;
       }
        100% {
            transform: translate3d(0.08em, -0.08em, 0);
            text-shadow: -0.08em 0.08em rgb(157, 149, 228, 0.616);
            color: black;
       }
}
.wacky-line span {
    position: relative;
    display: inline-block;
    animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.wacky-line span:nth-last-child(1n) {
    animation-delay: -0.1666666667s;
}
.wacky-line span:nth-last-child(2n) {
    animation-delay: -0.3333333333s;
}
.wacky-line span:nth-last-child(3n) {
    animation-delay: -0.5s;
}
    
/* WACKY LINE CODE: END */




strong {
    font-size: 1.1em;
    text-shadow: 1px 2px 3px grey;
}