/*  START STANDARD */
.classic-about {
    margin: 45px 190px;
    text-align: left;
    color: rgb(110, 94, 254);
    font-size: 20pt;
}
/* END STANDARD */

/* ABOUT ME STRONG TAG: START */
.classic-about strong {
    font-size: 1.1em;
    text-shadow: 1px 2px 3px grey;
}
/* ABOUT ME STRONG TAG: END */

/* ABOUT ME A TAG: START */
/* .classic-about a {
    text-decoration: none;
    color: grey;
} */
/* ABOUT ME A TAG: END */


/* START CONTACT  */
.classic-contact {
    margin: 45px 190px;
    text-align: center;
    color: rgb(110, 94, 254);
    font-size: 2em;
}

.link-dec a {
    color: rgb(110, 94, 254);
    text-decoration: none;
}
/* END CONTACT */



/* START FORM */
.form-s {
    /* margin: 60px 190px; */
    /* text-align: left; */
    color: rgb(110, 94, 254);

    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.comment-box {
    height: 200px;
    width: 400px;
    font-size:14pt;
}

.reg-box {
    height: 36px;
    width: 400px;
    font-size:14pt;
}

.bkg-ops {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 20px ;
}
/* END FORM */



/* START MESSAGE LIST */
.u-text {
    margin: 0px 60px;
}

.each-message {
    padding: 30px 30px 50px 30px;
    background: linear-gradient(90deg,rgb(64, 60, 146) -30%, rgb(44, 43, 54) 100%);
    border-style: outset;
    border-top: 12px solid rgb(240, 235, 233);
    border-right: 12px solid rgb(146, 145, 145);
    border-bottom: 12px solid rgb(133, 132, 132);
    border-left: 12px solid rgb(226, 224, 224);
    text-align: center;
    list-style-type: none;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 80px;
    color: white;
    word-break: break-all;
}
/* END MESSAGE LIST */


/* START FORM SUBMIT BUTTON */
.sub-btn {
    width: 100%;
    background-color:  #7046a7;
    color: white;
    padding: 16px 120px;
    margin: 18px 80px, 18px, 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sub-btn:hover {
    color: white;
    background-color: rgb(64, 60, 146);
}
/* END FORM SUBMIT BUTTON */



/* WACKY LINE CODE: START */
.wacky-line {
    color: rgb(110, 94, 254);
    font-size: 4em;
    margin: 60px 10px 15px;
    text-align: center;
    font-family: Futura, sans-serif;
    font-weight: 900;
	font-size: 80px;
}

.i-span {
    margin-left: 40px;
}

@keyframes ani {
    0% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 rgba(157, 149, 228, 0.616);
        color: black;
    }

    30% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 rgb(157, 149, 228, 0.616);
        color: black;
    }

    70% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em rgb(157, 149, 228, 0.616);
        color: black;
    }

    100% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em rgb(157, 149, 228, 0.616);
        color: black;
    }
}

.wacky-line span {
    position: relative;
    display: inline-block;
    animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

.wacky-line span:nth-last-child(1n) {
    animation-delay: -0.1666666667s;
}

.wacky-line span:nth-last-child(2n) {
    animation-delay: -0.3333333333s;
}

.wacky-line span:nth-last-child(3n) {
    animation-delay: -0.5s;
}
/* WACKY LINE CODE: END */


/* QUOTES: START */

/* QUOTE SECTION: START */
.quote-sec-one {
    margin-bottom: 190px;
}

.quote-sec-two {
    margin-bottom: 150px;
}
.quote-sec-three {
    margin-bottom: 60px;
}

.quote-sec-four {
    margin-bottom: 145px;
}

.quote-sec-five {
    margin-bottom: 190px;
}
/* QUOTE SECTION: END */

.quote-box {
    margin : 20px auto; 
    padding : 20px; 
    position : relative; 
    width : 300px; 
  } 
  
.quote-box p {
  margin : 0; 
  padding : 0; 
}

.quote-box blockquote {
  margin : 0; 
  padding : 0; 
  position : relative; 
} 

.quote-style blockquote {
  padding-top : 150px; 
} 

.quote-style blockquote:after {
    background: none repeat scroll 0 0 rgba(139, 106, 230, 0.8);
    border-radius: 50% 50% 50% 50%;
    color: rgba(255, 255, 255, 0.5);
    content: "❞";
    font-family: 'icons';
    font-size: 70px;
    height: 130px;
    left: 50%;
    line-height: 130px;
    margin-left: -65px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    top: 0;
    width: 130px;
}

.quote-style blockquote:before {
    border-left: 5px solid rgba(163, 108, 235, 0.1);
    border-radius: 50% 50% 50% 50%;
    content: "";
    height: 500px;
    left: -50px;
    position: absolute;
    top: 0;
    width: 500px;
    z-index: -1;
    margin-bottom: 200px;
}

.quote-style blockquote p {
  background : none repeat scroll 0 0 rgba(255, 255, 255, 0.5); 
  box-shadow : 0 -6px 0 rgba(142, 108, 235, 0.2); 
  color : rgba(116, 54, 187, 0.8); 
  display : inline; 
  font-family : Baskerville, Georgia, serif; 
  font-style : italic; 
  font-size : 28px; 
  line-height : 46px; 
  text-shadow : 0 1px 1px rgba(0, 0, 0, 0.5);  
} 

.quote-author {
  color : #7356c2; 
  font-size : 18px; 
  font-weight : bold; 
  padding-top : 10px; 
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.1); 
  text-transform : uppercase; 
  text-align: center;
}  
/* QUOTES: END */

/* START: TINY LINK */
.tiny-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* END: TINY LINK */











@media screen and (max-width: 960px) {
    .classic-about {
        margin: 45px 190px;
        text-align: left;
        color: rgb(110, 94, 254);
        font-size: 7pt;
    }
}




