/*  START STANDARD */
.classic-about {
    margin: 45px 190px;
    text-align: left;
    color: rgb(110, 94, 254);
    font-size: 20pt;
}
/* END STANDARD */


/* ABOUT ME STRONG TAG: START */
.classic-about strong {
    font-size: 1.1em;
    text-shadow: 1px 2px 3px grey;
}

@media screen and (max-width: 960px) {
    .classic-about {
        margin: 45px 16px;
        text-align: center;
        color: rgb(110, 94, 254);
        font-size: 20px;
    }
}
/* ABOUT ME STRONG TAG: END */


/* START CONTACT  */
.classic-contact {
    margin: 45px 190px;
    text-align: center;
    color: rgb(110, 94, 254);
    font-size: 2em;
}

.classic-contact strong {
    font-size: 25px;
}

.link-dec a {
    color: rgb(110, 94, 254);
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .classic-contact {
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 20px;
    }
}
/* END CONTACT */


/* START: RESUME */
.resume-box {
    text-align: center;
}

.submit-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.submit-btn a {
    color: rgb(110, 94, 254);
    border: 2px solid rgb(110, 94, 254);
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 15px;
}

@media screen and (max-width: 960px) {
    .resume-img {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        height: 100%;
        width: 95%;
    }
}
/* END: RESUME */


/* START: LINK PREVIEW */
.link-div {
    margin: 40px 40% 40px 40%;
    border: 2px solid rgb(110, 94, 254);
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width: 960px) {
    .link-div {
        margin: 40px 20px 40px 20px;
    }
}

.link-box {
    color: rgb(110, 94, 254);
}

.link-header {
    font-size: 20px;
    text-shadow: 1px 2px 3px grey;
    text-align: center;
    margin-top: 20px;
}

.link-code {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.link-summary {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.link-url {
    font-size: 10px;
    margin-bottom: 20px;
}
/* END: LINK PREVIEW */


/* WACKY LINE CODE: START */
.wacky-line {
    color: rgb(110, 94, 254);
    font-size: 4em;
    margin: 60px 10px 15px;
    text-align: center;
    font-family: Futura, sans-serif;
    font-weight: 900;
	font-size: 60px;
}

.i-span {
    margin-left: 40px;
}

@keyframes ani {
    0% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 rgba(157, 149, 228, 0.616);
        color: black;
    }

    30% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 rgb(157, 149, 228, 0.616);
        color: black;
    }

    70% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em rgb(157, 149, 228, 0.616);
        color: black;
    }

    100% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em rgb(157, 149, 228, 0.616);
        color: black;
    }
}

.wacky-line span {
    position: relative;
    display: inline-block;
    animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

.wacky-line span:nth-last-child(1n) {
    animation-delay: -0.1666666667s;
}

.wacky-line span:nth-last-child(2n) {
    animation-delay: -0.3333333333s;
}

.wacky-line span:nth-last-child(3n) {
    animation-delay: -0.5s;
}
/* WACKY LINE CODE: END */


/* QUOTES: START */

/* QUOTE SECTION: START */
.quote-sec-one {
    margin-bottom: 190px;
}

.quote-sec-two {
    margin-bottom: 150px;
}
.quote-sec-three {
    margin-bottom: 60px;
}

.quote-sec-four {
    margin-bottom: 145px;
}

.quote-sec-five {
    margin-bottom: 190px;
}
/* QUOTE SECTION: END */

.quote-box {
    margin : 20px auto; 
    padding : 20px; 
    position : relative; 
    width : 300px; 
    text-align: center;
} 
  
.quote-box p {
  margin : 0; 
  padding : 0; 
}

.quote-box blockquote {
  margin : 0; 
  padding : 0; 
  position : relative; 
} 

.quote-style blockquote {
  padding-top : 150px; 
} 

.quote-style blockquote:after {
    background: none repeat scroll 0 0 rgba(139, 106, 230, 0.8);
    border-radius: 50% 50% 50% 50%;
    color: rgba(255, 255, 255, 0.5);
    content: "❞";
    font-family: 'icons';
    font-size: 70px;
    height: 130px;
    left: 50%;
    line-height: 130px;
    margin-left: -65px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    top: 0;
    width: 130px;
}

.quote-style blockquote:before {
    border-left: 5px solid rgba(163, 108, 235, 0.1);
    border-radius: 50% 50% 50% 50%;
    content: "";
    height: 500px;
    left: -50px;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: -1;
    margin-bottom: 200px;
}

.quote-style blockquote p {
  background : none repeat scroll 0 0 rgba(255, 255, 255, 0.5); 
  box-shadow : 0 -6px 0 rgba(142, 108, 235, 0.2); 
  color : rgba(116, 54, 187, 0.8); 
  display : inline; 
  font-family : Baskerville, Georgia, serif; 
  font-style : italic; 
  font-size : 28px; 
  line-height : 46px; 
  text-shadow : 0 1px 1px rgba(0, 0, 0, 0.5);  
} 

.quote-author {
  color : #7356c2; 
  font-size : 18px; 
  font-weight : bold; 
  padding-top : 10px; 
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.1); 
  text-transform : uppercase; 
  text-align: center;
}  
/* QUOTES: END */

/* START: TINY LINK */
.tiny-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* END: TINY LINK */


/* START: NETWORK */

.freepik {
    margin-top: 200px;
    font-size: 10px;
    text-align: center;
    color: #7356c2;
}

.freepik a {
    text-decoration: none;
    color:inherit;
}

.social-media {
    text-align: center;
    margin: 40px;
}


/* END: NETWORK */

